@import "../bootstrap/main.scss";

mat-drawer-container{
    height: 100%;
    mat-drawer{
        width: 60%;
        .nav-brand{
            width: 100%;
            height: 3em;
            font-size: 1.2rem;
        }

        mat-list-item{
            font-size: .9rem;
        }

        mat-form-field{
            width: 100%;
        }
        .row{
            flex-direction: column;
            justify-content: space-between;
            height: 80%;
        }

        btn-phone, btn-email{
            background-color: green;
        }

    }
}

.extra-bar{
    background-color: #0e6629;
    color: white;
    .row{
        justify-content: space-between;
        align-content: flex-start;
        
        .contact{
            height: fit-content;
            align-items: center;

            @include not-mobile{
                display: flex;
                padding-right: .5rem;
            }

            @include mobile-only{
                align-items: flex-end;
            }
        }

        .spacer{
            margin: 0 .5em;
        }
        .info{
            text-align: end;
            font-size: .9rem;
            strong{
                color: palegreen;
            }
            @include mobile{
                font-size: .8rem;
            }
        }

        @include tablet{
            .contact, .info{
                font-size: .7rem;
            }
        }
    }
}

.nav-bar-fluid{
    background-color: #81d41a;
    color: white;

    .row{
        justify-content: space-between;
    }
    .nav-brand{
        
        font-size: 1.2em;

        p{
            margin: 0;
        }
        p:first-child{
            font-size: .8em;
            margin-bottom: .1em;
        }
        p:last-child{
            font-size: 1.2em;
            color: #0e6629;
        }
    }
}

.banner{
    height: 4em;
    font-size: .8rem;
    overflow: hidden;
}

.categories {
    background-color: #77bc65;
    .row{
        justify-content: space-around;
        button{
            width: 10%;
            @include tablet{
                font-size: .75rem;
            }
        }
    }
}
