@import "../bootstrap/main.scss";

mat-drawer-container{
    height: 100%;
}

.extra-bar{
    background-color: #0e6629;
    color: white;
    .row{
        justify-content: space-between;
        align-content: flex-start;
        
        .contact{
            height: fit-content;
            align-items: center;

            @include not-mobile{
                display: flex;
                padding-right: .5rem;
            }

            @include mobile-only{
                align-items: flex-end;
            }
        }

        .spacer{
            margin: 0 .5em;
        }
        .info{
            text-align: end;
            font-size: .9rem;
            strong{
                color: palegreen;
            }
            @include mobile{
                font-size: .8rem;
            }
        }

        @include tablet{
            .contact, .info{
                font-size: .7rem;
            }
        }
    }
}

.banner{
    background-color: #81d41a;
    color: white;
    height: 4em;
    .row{
        justify-content: space-between;
    }
    .nav-brand{
        
        font-size: 1.2em;

        p{
            margin: 0;
        }
        p:first-child{
            font-size: .8em;
            margin-bottom: .1em;
        }
        p:last-child{
            font-size: 1.2em;
            color: #0e6629;
        }
    }

    @include mobile-only;

    @include not-mobile{
            width: 100%;

            .nav-brand{
                font-size: 1.2rem;
            }
    }
}
